

:root {
  --primary-text-color: #E1E1E1;
  --secondary-text-color: #ffffff;
  --third-text-color: #cfcfcf;
  --fourth-text-color: #dfdfdf7a;
  --fifth-text-color: rgba(255, 255, 255, 0.035);

  --background-color: #0E0E0E;
  --primary-mode-color: #0A0A0A;
  --secondary-mode-color: #000000;
  --third-mode-color: #00000085;
  --fourth-mode-color: #d9d9d908;

  --heart-color: rgb(175, 0, 0);
  --star-color: rgb(175, 175, 0);

  --scroll-mode-color: #282828;

  --primary-bg-color: #930000;
  --secondary-bg-color: #9300001a;
  --third-bg-color: #930000b2;
  --fourth-bg-color:rgb(55, 0, 0);
}


body {
  overflow-x: hidden;
  background: black;
}

body::-webkit-scrollbar {
    -webkit-appearance: none;
    background: var(--scroll-mode-color);
}

body::-webkit-scrollbar:vertical {
    width: 6px;
}

body::-webkit-scrollbar-button:increment,
body::-webkit-scrollbar-button {
    display: none;
}

body::-webkit-scrollbar:horizontal {
    height: 6px;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--third-bg-color);
    border-radius: 20px;
    border: 1px solid var(--scroll-mode-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb:active {
    background-color: rgba(255, 0, 0, 0.705);
}


